dash-bootstrap-components==1.0.3
dash==2.3.1
Flask==2.0.2
ipywidgets==7.6.5
Keras-Applications==1.0.8
lime==0.2.0.1
matplotlib==3.5.1
nibabel==3.2.2
numpy==1.22.2
opencv-python==4.5.5.62
pandas==1.4.1
Pillow==9.0.1
plotly==5.6.0
scikit-image==0.19.1
scipy==1.8.0
shapely==1.8.0
tensorflow==2.8.0
tqdm==4.62.3
fpdf==1.7.2
